h1{
	text-align: center;
	text-shadow:5px 3px 6px rgb;
	
	text-shadow:5px 3px 6px black;

}
h2{
	text-align: center;
	padding-top: 400px;
	color: black;

}
#sco{
	border-width: 10px;
	
}
table, th, td {
    border: 1px solid black;
    background-color: #f4a460;
}
th{
	font-size: 20px;
}
.buk{
	background-color: #a9a9a9;
	font-family: 'Pacifico',cursive;
}
