ul{
	
	list-style: none;
	text-align: center;
	padding-top: 300px;
}
#answer{
	height:50px;
	width:200px;
	cursor: pointer;
}
h3{
	font-size: 20px;
}
.ques{
	height:100%;
	padding-top: 100px;
}
h1{
	text-align: center;
	font-family: sans-serif;
	text-shadow:5px 3px 1px black;
	color: #e3e3e3;
	font-size:50px; 
	background-color: #666;
	padding: 10px;
	
}

.button{
	text-align: right;
	padding: 20px;
	cursor: pointer;
}
.whole{
	background-color: rgb(160,230,200);
}


